* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-home {
    background-image: url(../assets/img/fondo.avif);
    background-size: auto;
    background-repeat: no-repeat;
}

.body-turbo {
    background-image: url(../assets/img/fondo.turbos.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

.body-suspe {
    background-image: url(../assets/img/fondo.suspe.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    

    
}

.body-adm {
    background-image: url(../assets/img/fondo.admi.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

.body-contacto {
    background-image: url(../assets/img/fondo_contacto.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0, 0, 0, 0.425);
}
.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #000000;
}

header {
    width: 100%;
    height: 140px;
    clear: both;
    display: table;

}

.menu {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
    margin-left: 20px
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}


.logo img {
    position: absolute;
    top: 10px;
    left: 3rem;
    width: 120px
    
}


footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    color: whitesmoke;
    position: fixed;
    left: 10;
    bottom: 0;
    width: 100%;

}

.redes a{
    margin: 0 10px;
}

.redes img {
    width: 30px;
    height: auto;
}

.imagenes-home {
    background-color: rgba(0, 0, 0, 0.568);
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 19rem;
}

.imagenes-home a {
    margin: 0 50px;
}

section div a img {
    width: 250px;
    height: 300px;
}


.contenedor {
    display: grid;
    justify-content: center;
    align-items: center; 
    height: 100vh;           
}

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px; 
}

.grid-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.h2-suspe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: whitesmoke;
    height: 20px;
    width: 100%;
}

.img-adm img {
    margin: 0 70px;
    width: 250px;
    height: 250px;
}
.img-adm h2{
color: whitesmoke;
}

.img-turbo-inf img {
    margin: 0 70px;
    width: 250px;
    height: 250px;
}

.form {
    color: black;
}

.formulario {
    max-width: 25rem;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(245, 245, 245, 0.603);
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

.formulario input[type="text"],

.formulario input[type="email"], 

.formulario textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario textarea {
    height: 100px;
}

.formulario input[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.formulario input[type="submit"]:hover {
    background-color: #0066ff;
}




.grid-inicio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px; 
    width: 100%;

}
.grid-inicio img {
    width: 300px;
    height: 300px;
}

@media (max-width: 960px) {
    .formulario {
        max-width: 20rem;
    }
    .contenedor {
        display: grid;
        justify-content: center;
        align-items: center; 
        height: 100vh;           
    }
    
    .contenedor-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px; 
    }
    
    .grid-item img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}


@media (max-width: 1200px) {
    .grid-inicio img {
        width: 200px;
        height: 200px;
    
    }
}
@media (max-width: 890px) {
    
    .grid-inicio img {
        width: 150px;
        height: 150px;
    
    }
}

@media (max-width: 805px) {
    nav ul li a {
        font-size: 15px;
        
    }
    .logo img {
        top: 0px;
        left: 0rem;

    }
    .titulo {
        font-size: 20px;
    }
    .grid-inicio {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px; 
        height: 45vh;
    }
    .grid-inicio img {
        width: 200px;
        height: 200px;
    }

}

@media (max-width: 610px) {
    .logo img{
        width: 80px;
        height: 75px;
    }

}
@media (max-width: 550px) {
    .grid-inicio {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px; 
        height: 33vh;
    }
    .grid-inicio img {
        width: 150px;
        height: 150px;
    }
    .logo img {
        left: 1rem;
        width: 75px 
        
    }
    nav ul li a {
        font-size: 15px;
        
    }
}
@media (max-width: 450px) {
    .contenedor {
    height: 70vh;           
    }
    
    .contenedor-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 15px; 
    }
    
    .grid-item img {
        width: 200px;
        height: 200px;
    }
    .h2-suspe {
        font-size: 10px;
    }
    nav ul li a {
        font-size: 10px;
        
    }
    .logo img {
        top: 0px;
        left: 0rem;

    }
    .titulo {
        font-size: 20px;
    }
}

