footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    color: $txtcolor;
    position: fixed;
    left: 10;
    bottom: 0;
    width: 100%;
}
.redes a{
    margin: 0 10px;
}
.redes img {
    width: 30px;
    height: auto;
}
