.imagenes-home {
    background-color: $back;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 19rem;

}
.grid-inicio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.25rem;
    width: 100%;
}
.grid-inicio img {
    width: 300px;
    height: 300px;
}
.imagenes-home a {
    margin: 0 50px;
}
section div a img {
    width: 250px;
    height: 300px;
}
.contenedor {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedor-grid {
    display: grid;
    grid-template-columns: $tmpc;
    grid-template-rows: $tmpr;
    gap: 1.25rem;
}
.grid-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}
.grid-item {
    position: relative;
}
.filtro {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 10px;
    opacity: 0; 
    transition: opacity 2s ease;
}
.grid-item:hover .filtro {
    opacity: 1;
}
.h2-suspe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: $txtcolor;
    margin-top: 15vh;
    background-color: rgba(0, 0, 0, 0.568);
}
.contenido {
    text-align: center;
}
.content h2 {
    margin-bottom: 15px;
}

.img-adm img {
    margin: 0 70px;
    width: 250px;
    height: 250px;
}
.img-adm h2 {
    color: $txtcolor;

}
.img-turbo-inf img {
    margin: 0 70px;
    width: 250px;
    height: 250px;
}
.carrusel {
    float: right;
    width: 35%;
    height: 35%;
    margin-right: 10%;
}
.contenedor-info {
    background-color: rgba(0, 0, 0, 0.438);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60%;
    list-style: none;
    color: $txtcolor;
    width: 40%;
    margin-top: 250px;
    margin-left: 5%
}
.content-suspe {
    text-align: left;
    margin-bottom: 20px;
}
.content-suspe ul li {
    margin-bottom: 40px;
}
.suspe-car img {
    cursor: pointer;
}
.suspe-car {
    position: relative;
}
.suspe-car:hover .filtro {
    opacity: 1;
}

