@media (max-width: 320px) {
    .contenedor {
        height: 70vh;
    }
    .grid-item img {
        width: 200px;
        height: 200px;
    }
    .contenedor-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 15px;
    }
    

    .h2-suspe {
        font-size: 10px;
    }
    nav ul li a {
        left: 30%;
        font-size: 10px;
    }
    .logo img {
       left: 0rem;
       width: 60px;
       height: 65px;
        top: 0px;
        left: 0px;
    }
    .titulo {
        font-size: 20px;
    }
    .titulo-an {
        font-size: 0px;
        height: 0px;
        width: 0px;
    }
      
      @keyframes anim {
        0% {
          width: 0;
          height: 0; }
        30% {
          width: 0%;
          height: 0; }
        60% {
          width: 0vw;
          height: 0vw; }
        80% {
          width: 0vw;
          height: 0vw; }
        100% {
          width: 0vw;
          height: 0vw; } }
    .grid-inicio {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        height: 33vh;
        
    }
    .grid-inicio img {
        width: 150px;
        height: 150px;
    }
}